* {
  box-sizing: border-box;
  font-family: "franklin-gothic-urw", sans-serif;
}
.coemissions-table-wrapper {
  width: 100%;
}

.coemissions-table-wrapper .table {
  width: 100%;
  max-width: 100%;
}

.center {
  margin: 0 auto;
  width: 80%;
}

.table {
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid #f0f0f0;
}

.table thead tr {
  border-bottom: 2px solid #f0f0f0;
}

.table td,
.table th {
  padding: 0.5em;
  text-align: center;
}

.table p.table-data {
  margin: 0;
  padding: 0.7em 0em;
}

.table td p.table-highlight {
  font-weight: 900;
}

.table th {
  text-align: center;
}

th.top-row {
  background-color: #e77500;
  color: white;
}
th.top-row > span {
  color: black;
}

th.top-row {
  background-color: #e77500;
  color: white;
}
th.top-row > span {
  color: black;
}
th.side-row {
  background-color: #dcdadb;
  text-align: right;
}
tr:nth-child(even):not(:first-child) {
  background-color: #f0efeb;
}
.ref {
  background-color: #7f7f7f;
  color: white;
}

@media screen and (max-width: 991px) {
  .table {
    margin: 0 auto;
    width: 100%;
    border-spacing: 0;
  }
  .table thead {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .table tbody,
  .table tr,
  .table th,
  .table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  .table tr td,
  .table tr th {
    padding: 2em 1em;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border: 1px solid #edf0f1;
    border-top: none;
    width: 100%;
    white-space: normal;
  }
  .table th[scope="row"] {
    width: 100%;
    text-align: center;
    display: block;
    background-color: #e77500;
    color: black;
    margin: 0 auto;
    padding: 0.5em 0;
  }
  .table td[data-header]:before {
    content: attr(data-header);
    display: block;
    float: left;
    width: 50%;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  .table td[data-header] > * {
    display: block;
    width: 50%;
    float: right;
    clear: right;
    margin-top: 0;
    text-align: center;
  }
  .table td[data-header]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    border-right: 1px solid #edf0f1;
    padding-bottom: 200%;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .center {
    width: 80%;
  }
}
